# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
ecommerceenv/

# Environment variables
.env
.env.*
backend/.env

# Node
node_modules/
frontend/node_modules/

# Build files
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
